.movie {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 30px;
    margin-bottom: 20px;
    border: 2px solid #efefef;
    padding: 10px;
    border-radius: 10px;
}

.movie__accept {
    margin-right: 10px;
}

.movie__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.movie__name {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.movie__overview {
    display: block;
    margin-bottom: 20px;
}

.movie__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie__buttons-watched {
    color: #fff;
    background: #1eb4c3;
}

.movie__buttons-watched__icon {
    width: 15px;
    margin-left: 10px;
}

.movie__buttons-delete {
    color: #fff;
    background: #ff2a2a;
}